body {
    font-family:'Times New Roman', Times, serif;
    color:rgb(169, 29, 106);
    margin: 20px;
    background-image: url(greybg.png);
    text-align: center;
    cursor: url("cursor.png"), default;
}

h1 {
    background-color: thistle;
    box-shadow: 5px 5px 10px grey;
}

h2 {
    background-color: thistle;
    box-shadow: 5px 5px 10px grey;
}
